@model List<ATM_ASP.NET_MVC.Models.CheckingAccount>

@{
    ViewBag.Title = "PrintAllAccountHolders";
}

<h2>PrintAllAccountHolders</h2>

<div>
    <h4>CheckingAccount</h4>
    <hr />
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <td>Name</td>
                <td>Account No</td>
                <td>Balance</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var accountHolder in Model)
            {
                <tr>
                    <td>@accountHolder.Name</td>
                    <td>@accountHolder.AccountNo</td>
                    <td>@accountHolder.Balance</td>
                </tr>

            }


        </tbody>
    </table>
</div>
