@model ATM_ASP.NET_MVC.Models.CheckingAccount

@{
    ViewBag.Title = "Print Statement";
}
<div class="row">
    <div class="col-md-6 col-md-offset-3 margin-top-20" style="border:1px solid grey;">
        <h2 class="text-center text-info">Bank Statement</h2>
        <div class="row">
            <h5 class="col-md-4">Name @Model.Name</h5>
            <h5 class="col-md-4">Account No# @Model.AccountNo</h5>
            <h5 class="col-col-md-4">Closing Balance @Model.Balance</h5>
        </div>
        
        @{ 
           var transactions = Model.Transactions.ToList();
        }
        
    <ul class="list-group">
        @foreach (var transaction in transactions)
        {
            <li class="list-group-item" style="border:none">@transaction.Amount</li>
        }
    </ul>
    </div>
</div>
